.dataGrid td 
{
   vertical-align: middle!important;
}

.dataGridHead th
{
   vertical-align: middle!important;
}


#info-r
{
  padding:0 10px;
  }


.bg-primary {
   /*    background-color: #ccd9e7 !important;*/
   background-color: #DEF0EF !important;
}

input[type="radio"], input[type="checkbox"] {
   margin-left: 5px !important;
}

table.form-control {
   border: none !important;
   box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%) !important;
}

.table-head-default th {
   /*    background-color: #ccd9e7 !important;
   background-color: #def0ef !important;*/
   background-color: #dee7f0 !important;
   border: 1px solid #b3b2b200 !important;
}

table.tablegenre {
   width: 129px !important;
   border: none !important;
   box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%) !important;
   margin: -8px -28px 0px -21px;
   background: #ffffff00;
}

table.tablegenre td, table.tablegenre tr {
   border: none !important;
   box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%) !important;
   background-color: #ffffff00 !important;
   padding-left: 0;
}
.tablechilds, .tablechilds tr, .tablechilds td {
   border: #b3b2b254 !important;
   font-size: 14px;
}


.rounded-circle-gr {
   background: rgb(0 126 66) !important;
}


.bg-white {
   background-image: url(../images/bg_arabesk.png) !important;
   background-size: cover !important;
   background-position: initial !important;
}


.nav-link.logo img{

   width: auto!important;
   height: 126px!important;
}


.armoiries { 
   float:right;  

}

.table-btns {
   display: flex;
}

   .table-btns .btn {
       margin-left: 2px;
       padding: 3px 7px 3px 7px;
   }

       .table-btns .btn:hover, .table-btns .btn:focus, .table-btns .btn.focus {
           color: #fff !important;
       }

.table-btns-center {
   display: block;
}

.table-btns .btn-center {
   margin-left: 2px;
   padding: 3px 7px 3px 7px;
}

.table-btns-center .btn:hover, .table-btns-center .btn:focus, .table-btns-center .btn.focus {
   color: #fff !important;
}


.date-icon {
   font-size: 14px;
   margin: 2px;
}


table.tablechilds .keyboardInputInitiator { 
   display: block!important;
}


/*************** New them blue ****************/

.bg-transparent-70 {
   background: #20406E !important;
}


.nav-item.active {
   background-color: #DEF0EF !important;
   color: #20406e !important;
}

.nav-item.active .fa, .nav-item.active a {
   color: #20406e !important;
       
}
.nav-item .fa-2x {
   font-size: 1.5em !important;
   margin-left: 2px;
}


.navbar-nav .nav-item:hover, .navbar-nav .nav-item:hover > a {
   color: #20406e !important;
   background-color: #DEF0EF !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
   color: #20406e !important;
}

.navbar-dark .dropdown-item:hover, .navbar-dark .dropdown-item:focus {
   color: #def0ef !important;
   text-decoration: none !important;
   background: #20406e !important;
}

.intro-prez {
   align-items: center;
   justify-content: center;
   text-align: center;
   background: rgb(59 164 158 / 20%);
   padding: 42px 0px 25px 0px;
   margin-top: -24px;
}

.intro-steps {
   align-items: center;
   justify-content: center;
   text-align: center;
   background: #F7F0E6;
   padding: 42px 0px 25px 0px;
   margin-top: -24px;
}

.intro-header-blue {
   color: #20406e;
   font-weight: 700;
}

.intro-body {
   padding: 20px 180px;
   font-weight: 700;
}
.home-text-body {
   font-weight: 700;
   text-align: center;
}

.intro-btn-gr {
   color: #ffffff !important;
   background: #005509 !important;
   border-radius: 0px;
}

.intro-btn-bl {
   color: #ffffff !important;
   background: #20406E !important;
   border-radius: 0px;
}

.intro-btn-gr img, .intro-btn-bl img {
   height: auto;
   width: 26px; 
       
}
.intro-btn-gr img {
   margin-right: 6px;
}
.intro-btn-bl img {
   margin-left: 20px;
}


.home-cards {
   display: flex;
   gap: 2rem;
   align-items: center;
   justify-content: center;
}

.home-card::before {
   counter-increment: my-counter;
   content: counter(my-counter);
   position: absolute;
   top: 0rem;
   right: 0rem;
   background-color: #20406e;
   width: 2.5rem;
   height: 2.5rem;
   color: #fff;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0;
   font-weight: 700;
   font-size: 22px;
}

.home-card {
   /*border-radius: 1rem;*/
   padding: 2rem;
   border: 3px solid #20406e;
   position: relative;
   background: #f2f2f2; 
}

.home-card-text {
   font-weight: 700;
   padding: 21px 0px 0px 0px;
   margin-bottom: -6px;
   min-width: 288px;
}


footer a, footer .text-left, footer .text-right {
   color: #def0efd4 !important;
}

.footer-chevron-left {
   color: #def0efd4;
   margin-left: 5px;
   font-size: 14px;
}

.copyright {
   text-align: center !important;
   color: #def0efd4; 
   font-size: 16px; 
   margin-bottom: -5px;
}


.form-control:focus { 
   border-color: #20406e; 
}

.IDCS {
   background-image: url(../images/id-card-solid.png);
   background-repeat: no-repeat;
   background-size: 25px 19px;
   background-position: calc(100% - 9px) 8px;
   padding-right: 39px;
}

.IDCS:focus {
   background-image: url(../images/id-card-solid.png);
   background-repeat: no-repeat;
   background-size: 25px 19px;
   background-position: calc(100% - 9px) 8px;
   padding-right: 39px;
}

.text-teal {
   color: #20406E !important;
}

.text-military {
   color: #005509 !important;
}

.tooltip-inner {
   color: black !important; 
   background-color: #def0ef !important;
   border: 2px solid #20406e !important;
}

.text-blue {
   color: #20406e !important;
}

#Liste_Enfants th {
   background-color: #def0ef !important;
   border: 1px solid #b3b2b200 !important;
}


.btn-success {
   color: #fff;
   background: #005509;
   border-color: #005509;
   box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

@media (max-width: 970px)  {
   .intro-body {
       padding: unset; 
   }

   .intro-btn {
       text-align: unset !important;
   }

   .home-text-body { 
       padding: 0px 55px;
   }
}
body {
   counter-reset: my-counter my-counter1;
}

#loaderModal .modal-content {
   position: absolute!important;
   width: fit-content!important;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}
#loaderModal .modal-body{ 
   display: inline-flex!important;  
}
#loaderModal .imgloader{ 
   width: 32px;
   height: auto;
}

#loaderModal #loaderModalMsg{ 
   font-weight: 500;
}

.modal-backdrop.show {
   opacity: 0.2 !important;
}


.intro-btn-og {
   color: #ffffff !important;
   background: #eb920c !important;
   border-radius: 0px;
   font-weight: 500;
}

.intro-btn-lightgr {
   color: #ffffff !important;
   background: #449d76 !important;
   border-radius: 0px;
   font-weight: 500;
}


   .intro-btn-lightgr:hover {
       color: #434343 !important;
       background: #449d76d9 !important;
       border: 2px solid #43434359;
   }

.intro-btn-og:hover {
   color: #434343 !important;
   background: #eb920cd9 !important;
   border: 2px solid #43434359;
}

.intro-btn-lightred {
   color: #ffffff !important;
   background: #7d3a38 !important;
   border-radius: 0px;
   font-weight: 500;
}

   .intro-btn-lightred:hover {
       color: #434343 !important;
       background: #7d3a38d9 !important;
   }

.intro-btn-gr:hover {
   color: #ffffff !important;
   background: #005509d9 !important;
}

.intro-btn-bl:hover {
   color: #ffffff !important;
   background: #20406Ed9 !important;
}

.intro-btn-rd {
   color: #ffffff !important;
   background: #dc3545 !important;
   border-radius: 0px;
   font-weight: 500;
}


   .intro-btn-rd:hover {
       color: #434343 !important;
       background: #dc3545d9 !important;
       border: 2px solid #43434359;
   }



@media (max-width: 480px) {
   .home-card {
       padding: 1rem 0em 1em 0em;
   }

   .fix-intro-row {
/*        max-width: min-content;*/
   }
}


.pageContentWrapper {
   min-height: calc(100vh - 12rem);
   margin-bottom: 5px;
}

.footer {
   height: 12rem;
}

.footer .container {
   background-color: #20406e !important;
}

.home-cards-blocks {
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.home-card-counter::before {
   counter-increment: my-counter;
   content: counter(my-counter); 
}
.home-card-counter1::before {
   counter-increment: my-counter1;
   content: counter(my-counter1);
}
.home-card-row::before { 
   position: absolute;
   /* top: 5rem; */
   right: 9.5rem;
   background-color: #20406e;
   width: 2.5rem;
   height: 2.5rem;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0;
   font-weight: 700;
   font-size: 22px;
/*   margin-right: -50px;*/
   margin-top: -5px;
}

.home-card-row > span {
   margin-right: 36px;
}

.home-card-row-gr::before {
   background-color: #005509d9 !important;
}
.home-card-title-gr {
   color: #266e2d;
   text-decoration: underline;
   text-decoration-thickness: 6px;
   text-underline-offset: 8px;
   margin-bottom: 35px;
}


.home-card-title-bl {
   color: #20406e;
   text-decoration: underline;
   text-decoration-thickness: 6px;
   text-underline-offset: 8px;
   margin-bottom: 35px;
}

.home-card-block {
   background: #f2f2f2;
   border: 1px solid #f2f2f2;
   border-radius: 1px;
   padding: 15px;
   min-height: 352px;
}

.home-card-subtext {
   font-weight: 700;
   padding: 11px 15px 0px 15px;
   margin-bottom: -6px;
   min-width: 288px;
}

.fix-intro-row {
   max-width: fit-content;
}
.intro-btn-bl, .intro-btn-gr {
   font-size: initial;
}

.home-card-upload {
   font-size: smaller;
   color: #818181;
   margin-top: -24px;
   margin-right: 55px;
}

.mobile .logo img {
   display: unset;
   margin: unset;
   float: unset;
}
.armoiries {
   float: right;
}
@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
   .home-card-row::before {
       right: 3.5rem;
   }

   .home-card-row span {
       margin-right: 62px;
   }
   .intro-btn-bl img {
       margin-left: -3px;
   }
   .home-card-title-bl, .home-card-title-gr {
       line-height: 2em;
   }
   .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
   .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
       font-size: 12px;
   }
   .intro-btn-bl {
       width: max-content;
   }
   .fix-intro-row {
       max-width: min-content;
   }
   .mobile .logo img {
       display: block;
       margin: auto;
       float: unset;
     
   }
   .armoiries {
       float: unset;
   }
}

@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
   .home-card-row::before {
       right: 5.5rem;
   }

   .home-card-title-bl, .home-card-title-gr {
       line-height: 2em;
   }

   .intro-btn-bl img {
       margin-left: -3px;
   }
   .intro-btn-bl, .intro-btn-gr {
       width: fit-content;
   }
   .fix-intro-row {
       max-width: fit-content;
   }
       .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
       .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
           font-size: initial;
       }

   .armoiries {
       float: right;
   }
}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
   .home-card-row::before {
       right: 2.5rem;
   }
   .intro-btn-bl img {
       margin-left: -3px;
   }
   .intro-btn-bl, .intro-btn-gr {
       width: fit-content;
   }
   .fix-intro-row {
       max-width: fit-content;
   }
       .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
       .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
           font-size: initial;
       }
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
   .home-card-row::before {
       right: 7.5rem;
   }
   .intro-btn-bl img {
       margin-left: 20px;
   }
   .intro-btn-bl, .intro-btn-gr {
       width: fit-content;
   }
   .fix-intro-row {
       max-width: fit-content;
   }
       .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
       .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
           font-size: initial;
       }

}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
   .home-card-row::before {
       right: 4.5rem;
   }
   .intro-btn-bl, .intro-btn-gr {
       width: fit-content;
   }
   .fix-intro-row {
       max-width: fit-content;
   }
       .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
       .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
           font-size: initial;
       }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
   .home-card-row::before {
       right: 7.5rem;
   }
   .intro-btn-bl, .intro-btn-gr {
       width: fit-content;
   }
   .fix-intro-row {
       max-width: fit-content;
   }
       .home-card-block .intro-btn-bl, .home-card-block .intro-btn-gr,
       .fix-intro-row .intro-btn-bl, .fix-intro-row .intro-btn-gr {
           font-size: initial;
       }
}

.Zone_Enfants {
   margin: 30px 30px;
   text-align: center;
   overflow: auto;
}

.Child_Row {
   display: inline-flex;
   text-align: center;
   vertical-align: middle;
   width: 215px;
   margin: 0px;
   margin-right: 28px;
}
.tablechilds > tbody tr.dataGridBody > td:nth-of-type(1) {

   direction: ltr !important;
}
/*
   Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
   */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
   /* Force table to not be like tables anymore */
   .tablechilds table, .tablechilds thead, .tablechilds tbody, .tablechilds th, .tablechilds td, .tablechilds tr {
           display: block;
       }
               /* Hide table headers (but not display: none;, for accessibility) */
       .tablechilds thead tr {
           position: absolute;
           top: -9999px;
           right: -9999px;
       }

       .tablechilds tr {
           margin: 0 0 1rem 0;
       }

       .tablechilds tr:nth-child(odd) {
           background: #ccc;
       }

       .tablechilds td {
           /* Behave  like a "row" */
           border: none;
           border-bottom: 1px solid #eee;
           position: relative;
/*            padding-left: 50%;*/
       }
       .dataGridHead{
           display:none!important;
       }

       .tablechilds  tbody tr:hover {
           background-color: rgb(0 0 0 / 0%) !important;
       }
   .tablechilds tbody .dataGridBody {
       background-color: #dee7f0 !important;
       padding: 13px 0px;
   }
   .tablechilds tbody .dataGridFooter {
       background-color: rgb(0 0 0 / 0%) !important; 
        
   }

   .tablechilds table.tablegenre {
       width: 148px !important;
   }
   .tablechilds .tablegenre > tbody tr {
       display: inline-flex;
   }

   .tablechilds .IDCS {
       min-width: 168px !important;
       max-width: 185px;
   }
   .tablechilds td:before {
       /* Now like a table header */
       position: relative;
       /* Top/left values mimic padding */
       /*        top: -14px;*/
       right: 0;
       width: auto;
       padding-right: 5px; 
       text-align: right;
       padding-left: 8px;


   }
   .tablechilds td {
       white-space: initial;
   }

           /*
           Label the data
       You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
           */
   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(1):before,
   .tablechilds > tbody tr.dataGridFooter > td:nth-of-type(1):before {
       content: "المعرف الرقمي";
       font-weight: 900;
       font-size: 16px;
       float: right;
       margin-bottom: 6px;
   }

   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(2):before,
   .tablechilds > tbody tr.dataGridFooter > td:nth-of-type(2):before {
       content: "تاريخ الازدياد";
       font-weight: 900;
       font-size: 16px;
       float: right;
       margin-bottom: 6px;
   }

   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(3):before,
   .tablechilds > tbody tr.dataGridFooter > td:nth-of-type(3):before {
       content: "الجنس ";
       font-weight: 900;
       font-size: 16px;
       float: right;
       margin-bottom: 6px;
   }

   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(4):before,
   .tablechilds > tbody tr.dataGridFooter > td:nth-of-type(4):before {
       content: " ";
   }
   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(1):before,
   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(2):before,
   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(3):before,
   .tablechilds > tbody tr.dataGridBody > td:nth-of-type(4):before{
       margin-bottom: 5px;
   }

   .tablechilds > tbody tr.dataGridBody > td {
       width: 100% !important;
   }
 
   .Zone_Enfants {
       margin: 15px 10px 0px;
       text-align: center;
       overflow: auto;
   }
   .tablechilds .fa-plus:before {
       content: " \f067 \00a0 إضافة";
   }

   /******************* Apercu Child table **********************/

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(1):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(1):before {
       content: "المعرف الرقمي";
       font-weight: 900;
       font-size: 16px;
       float: right;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(2):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(2):before {
       content: "الاسم الشخصي";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(3):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(3):before {
       content: "الاسم العائلي";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(4):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(4):before {
       content: "تاريخ الازدياد";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(5):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(5):before {
       content: "الجنس ";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(6):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(6):before {
       content: "الاسم الشخصي (بالحروف اللاتينية) ";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td:nth-of-type(7):before,
   .tableChildsApercu > tbody tr.dataGridFooter > td:nth-of-type(7):before {
       content: "الاسم العائلي (بالحروف اللاتينية) ";
       font-weight: 900;
       font-size: 16px;
   }

   .tableChildsApercu > tbody tr.dataGridBody > td {
       width: 95% !important;
       padding: 6px 6px;
   }

       
}


.Lab_IDCS {
   border-radius: 5%;
   padding: 3px 5px;
   border: 1px solid #c4c9c8;
   direction: ltr !important;
}
