/* Alert box for gender problem */

._modal {
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

._popup_box {
    background: #e2e2e2;
    margin: auto;
    padding: 40px;
    width: fit-content;

    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;

    border: 1px solid #b3b3b3;
    border-radius: 5px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

._popup_box h1 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

._popup_box label {
    font-size: 1rem;
}

._popup_box .btns {
    margin: 2em 0 0 0;
}

._popup_box .btns .btn1,
._popup_box .btns .btn2 {
    font-size: .9rem;

    background: #e38e0f;
    color: white;
    
    border-radius: 5px;
    border: 1px solid #808080;
    
    padding: 10px 13px;
}

._popup_box .btns .btn2 {
    margin-left: 20px;
    background: #2d5893;
}

._popup_box .btns .btn1:hover {
    transition: .5s;
    background: #c57907;
}

._popup_box .btns .btn2:hover {
    transition: .5s;
    background: #284d81;
}

/**** Popup on hover ****/

/* Popup container */
._popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
._popup ._popuptext {
    visibility: hidden;
    width: 40vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 9999;
    bottom: 115%;
    left: calc(-20vw + 50%);
}

/* Popup arrow */
._popup ._popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
._popup:hover>span._popuptext {
    visibility: visible;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* next button */

#nextbtn {
    font-size: 1rem;
    font-family: Cairo, sans-serif !important;
    margin-top: 1rem;
}

#nextbtn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#nextbtn:enabled span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

#nextbtn:enabled:hover span {
    padding-right: 15px;
}

#nextbtn:enabled:hover span:after {
    opacity: 1;
    right: 0;
}

.ajMemMng {
    height: 45px;
    max-width: 250px;
    width: 100%;
    background: rgb(35, 139, 92);
    background: linear-gradient(90deg, rgba(35, 139, 92, 1) 0%, rgba(56, 178, 123, 1) 35%, rgba(74, 211, 149, 1) 100%);
    font-size: 13px;
    color: #fff;
    border: none;
    font-family: Carlito, sans-serif;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}
