/* General */

th.text-center.align-middle.largeTh {
    width: fit-content;
}


/* Radio inputs */

div.gender-input-wrap {
    cursor: default;
    width: 100%;
    display: block;
}

div.gender-input {
    margin-left: 0.75rem;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}

div.gender-input input {
    margin-left: 0.3125rem;
    position: static;
    font-family: Cairo, sans-serif !important;
    direction: rtl !important;
    text-align: right !important;
    font-size: 13px;
}

div.gender-input label {
    font-family: Cairo, sans-serif !important;
    direction: rtl !important;
    margin-bottom: 0;
    display: inline-block;

}



/* Submit button */

#amo-btn {
    opacity: .7
}

#amo-btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#amo-btn:enabled span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

#amo-btn:enabled:hover span {
    padding-right: 15px;
}

#amo-btn:enabled:hover span:after {
    opacity: 1;
    right: 0;
}


/* Toggle Switch */

._switch {
    font-size: .6rem;
    
    --width: 4em;
    --height: 2em;
    width: var(--width);
    height: var(--height);
    margin: 0;
    padding: 0;
    /* border: 2px red solid; */

    position: relative;
    display: inline-block;
}

._slider {
    position: absolute;
    cursor: pointer;

    inset: 0;

    width: var(--width);
    height: var(--height);

    background-color: #ccc;
    transition: .4s;
}

._slider._round {
    border-radius: var(--width);
}

._slider::before {
    --padding: .3em;
    --diameter: calc(var(--height) - var(--padding) * 2);

    position: absolute;
    content: "";

    left: var(--padding);
    bottom: var(--padding);

    width: var(--diameter);
    height: var(--diameter);

    background-color: #fff;
    transition: .4s;
}

._slider._round::before {
    border-radius: 50%;
}

input[type="checkbox"]:checked+._slider::before {
    --translateX: calc(var(--width) - var(--height));
    transform: translate(var(--translateX));
}

input[type="checkbox"]:checked+._slider {
    background-color: dodgerblue;
}

._switch > input[type="checkbox"] {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}


/* row after toggle switch */

rsu-members-detail table > tbody tr:hover > td {
    background-color: skyblue !important;
}

rsu-members-detail table > tbody tr.disabled > td {
    background-color: darkgray !important;
}

/* Custom alert */

._alert {
    background-color: #f44336;
    color: white;
    
    padding: .5rem 2rem .2rem 1rem;
    width: 100%;
    height: fit-content;

    font-family: Cairo, sans-serif;
    direction: rtl;

    opacity: 0;
    transition: opacity 0.6s;
    
    position: fixed;
    top: 0;
}

._alert p {
    float: right;
}

._closebtn {
    margin-right: 15px;
    
    color: white;

    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    
    float: left;
    cursor: pointer;
    transition: 0.3s;
}

._closebtn:hover {
    color: black;
}

._skipbtn {
    margin-right: 30px;
    padding: .1rem 1rem;

    font-size: .75rem;
    font-weight: bold;

    float: left;
    cursor: pointer;
}
